{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 block-color">
			<div class="row">
				<div class="col-md-8">
					<div class="row text-about">
						<div class="col-md-12">
                            <h2>Paul Texier, développeur web</h2>
                            <p class="internship">Recherche activement un stage à partir du 15 février</p>
                            <p class="bio">En formation de 5 mois avec la <a href="https://www.wildcodeschool.com/fr-FR/formations/developpeur-web" class="cv-link">Wild Code School</a>, j'ai pour objectif de
                                réaliser ma reconversion professionnelle en
                                tant que développeur web fullstack après 2 ans
                                d’expérience dans la gestion de projets en
                                marketing digital. N'hésitez pas à <a href="http://myreader.toile-libre.org/cvPaulTexier.pdf" class="cv-link">télécharger mon CV</a> pour en savoir plus sur mon parcours professionnel.</p>
                            <div class="learning"><h3>Ce que j'apprends depuis 1 an :</h3>
                            <li class='skills'>PHP</li>
                            <li class='skills'>SYMFONY</li>
                            <li class='skills'>JAVASCRIPT</li>
                            <li class='skills'>REACT</li>
                            <li class='skills'>HTML & CSS</li></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
                    <img src="https://nsa40.casimages.com/img/2021/01/10/210110053522681848.jpg" class="photo-contact" width="400px">
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

